.checked {
    color: orange;
}

.starbutton{
	border: none;
	background: none;
}

.email{
	padding: 10px;
}

.nav{
	display: table-cell;
	padding: 10px;  
	height:100%;
}

.right-side{
	display: table-cell;
}