<div class="nav">
  {{#link-to "compose"}}
    Compose
  {{/link-to}}
  <nav class=".navbar-fixed-left">
    <div>
      {{#link-to "index"}}
        Inbox
      {{/link-to}}
    </div>
    <div>
      {{#link-to "sent"}}
        Sent
      {{/link-to}}
    </div>
    <div>
      {{#link-to "trash"}}
        Trash
      {{/link-to}}
    </div>
  </nav>
</div>

<div class="right-side">
  {{outlet}}
</div>




